.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: "Ubuntu";
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: 2px 2px 2px #222222;
}

.reveal h2.ubuntu {
  padding: 1rem;
  color: #39CCCC;
}

.reveal h1.neuto,
.reveal h2.neuto,
.reveal h3.neuto {font-family: "Neuto";}

.reveal h2.lobster {
  font-family: "Lobster";
  letter-spacing: .4rem;
  padding: 1rem;
  color: #FFDC00;
}

.reveal h2.open {font-family: "Open Sans";}

.reveal h2.blue {color: #08c;}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}
